# Ex1:

Declare a destroy_elements function that accepts two lists.
It should return a list of all elements from the first list that are NOT contained in the second list.
 Use list comprehension in your solution.

 EXAMPLES
* destroy_elements([1, 2, 3], [1, 2])      => [3]
* destroy_elements([1, 2, 3], [1, 2, 3])   => []
* destroy_elements([1, 2, 3], [4, 5])      => [1, 2, 3]

In [1]:
def destroy_elements(r, s):
    return [item for item in r if item not in s]

#output = destroy_elements([1, 3, 4, 5, 6], [2, 3, 4])
output1= destroy_elements([1, 2, 3], [1, 2])
output2= destroy_elements([1, 2, 3], [1, 2, 3])
output3= destroy_elements([1, 2, 3], [4, 5])
#print(output)
print(output1)
print(output2)
print(output3)

[3]
[]
[1, 2, 3]

# Ex2 (Majority element)
Given an array nums of size n, return the majority element.

The majority element is the element that appears more than ⌊n / 2⌋ times. You may assume that the majority element always exists in the array.

Input: nums = [2,2,1,1,1,2,2] <br>
Output: 2

In [2]:
def majority_element(nums):
    counts = {}
    for number in nums:
        counts[number] = counts.get(number, 0) + 1
        if counts[number] > len(nums) // 2:
            return number

In [3]:
nums = [2, 2, 1, 1, 1, 2, 2]
print(majority_element(nums))

2

# Ex3:

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

Input: nums = [1,2,3,1] <br>
Output: true

In [4]:
def containsDuplicate(nums):
    seen = set()
    for number in nums:
        if number in seen:
            return True
        seen.add(number)
    return False

print(containsDuplicate([1, 2, 3, 1]))

True

In [5]:
print(containsDuplicate([4, 2, 3, 1]))

False

In [6]:
def containsDuplicate(nums):
    return len(nums) != len(set(nums))
print(containsDuplicate([1, 2, 3, 1]))

True

In [7]:
print(containsDuplicate([4, 2, 3, 1]))

False

# Ex4:
Write a factors function that accepts a positive whole number
It should return a list of all of the number's factors in ascending order
 HINT: Could the range function be helpful here? Or maybe a while loop?
EXAMPLES

* factors(1)  => [1]
* factors(2)  => [1, 2]
* factors(10) => [1, 2, 5, 10]
* factors(64) => [1, 2, 4, 8, 16, 32, 64]

In [8]:
def factors(n):
    output = []
    i = 1
    while i <= n:
        if n % i == 0:
            output.append(i)
        i += 1
    return output

In [9]:
print(factors(1))
print(factors(2))
print(factors(10))
print(factors(64))

[1]
[1, 2]
[1, 2, 5, 10]
[1, 2, 4, 8, 16, 32, 64]

#Ex5:
Write a Python function that takes a positive integer as input and returns the sum of the squares of all the positive integers up to that number.

In [10]:
def sum_squares(integer):
    return sum(i**2 for i in range(1, integer + 1))

In [11]:
print(sum_squares(3))
print(sum_squares(6))

14
91

#Ex6:
Create a list of tuples, where each tuple represents a person with a name and age. Sort the list based on the age of the individuals.

In [12]:
persons = [("Olalekan", 26), ("Aderonke", 28), ("Kapsa", 40), ("Christ", 28)]

individual_age = sorted(persons, key=lambda person: person[1])

print(individual_age)

[('Olalekan', 26), ('Aderonke', 28), ('Christ', 28), ('Kapsa', 40)]

#Ex7:
Write a function that takes a list of words and a minimum length, and returns a new list containing only the words that are longer than the specified length.

In [13]:
def long_words(words, minimum_length):
    return [word for word in words if len(word) > minimum_length]

In [14]:
words_list = ["advertisement", "goat", "elephant", "cock", "banana", "carbohydrate"]
output = long_words(words_list, 5)
print(output)

['advertisement', 'elephant', 'banana', 'carbohydrate']

# Ex8:
Declare a delete_all function that accepts a list and a target
Remove all occurrences of the target  from the list and return it

EXAMPLES
* delete_all([1, 3, 5], 3)  => [1, 5]
* delete_all([5, 3, 5], 5)  => [3]
* delete_all([4, 4, 4], 4)  => []
* delete_all([4, 4, 4], 6)  => [4, 4, 4]

In [15]:
def delete_all(list, target):
    return [item for item in list if item != target]

#output = delete_all([4, 2, 3, 4, 2, 5], 4)
output1= delete_all([1, 3, 5], 3)
output2= delete_all([5, 3, 5], 5)
output3= delete_all([4, 4, 4], 4)
output4= delete_all([4, 4, 4], 6)
print(output1)
print(output2)
print(output3)
print(output4)

[1, 5]
[3]
[]
[4, 4, 4]

# Ex9:

Define an encrypt_message function that accepts a string.
 The input string will consist of only alphabetic characters.
 The function should return a string where all characters have been moved
 "up" two spots in the alphabet. For example, "a" will become "c".

 EXAMPLES
* encrypt_message("abc") =&gt; "cde"
* encrypt_message("xyz") =&gt; "zab"
* encrypt_message("")    =&gt; ""

* bonus:  can you write a function to decrypt the encrypted message :)

In [16]:
def encrypt_message(message):
    encrypted = ''
    for char in message:
        if char.isalpha():
            base = ord('A') if char.isupper() else ord('a')
            shifted = (ord(char) - base + 2) % 26 + base
            encrypted += chr(shifted)
        else:
            encrypted += char
    return encrypted

In [17]:
print(encrypt_message("abc"))
print(encrypt_message("xyz"))
print(encrypt_message(""))
#print(encrypt_message("for"))

cde
zab

In [18]:
def decrypt_message(message):
    decrypted = ''
    for char in message:
        if char.isalpha():
            base = ord('A') if char.isupper() else ord('a')
            shifted = (ord(char) - base - 2) % 26 + base
            decrypted += chr(shifted)
        else:
            decrypted += char
    return decrypted

In [19]:
encrypted = encrypt_message("Programming")
print(encrypted)

decrypted = decrypt_message(encrypted)
print(decrypted)

Rtqitcookpi
Programming

#Ex10:

Define a word_lengths function that accepts a string.
It should return a list with the lengths of each word.

 EXAMPLES
* word_lengths("Mary Poppins was a nanny")  => [4, 7, 3, 1, 5]
* word_lengths("Somebody stole my donut")   => [8, 5, 2, 5]

In [20]:
def word_lengths(sentence):
    words = sentence.split()
    return [len(word) for word in words]

In [21]:
#print(word_lengths("I am an handsome man"))
#print(word_lengths("I love Jesus"))
print(word_lengths("Mary Poppins was a nanny"))
print(word_lengths("Somebody stole my donut"))

[4, 7, 3, 1, 5]
[8, 5, 2, 5]

# Ex11:

Define a cleanup function that accepts a list of strings.
The function should return the strings joined together by a space.
There's one BIG problem -- some of the strings are empty or only consist of spaces!
These should NOT be included in the final string
#
* cleanup(["cat", "er", "pillar"])           => "cat er pillar"
* cleanup(["cat", " ", "er", "", "pillar"])  => "cat er pillar"
* cleanup(["", "", " "])                     => ""

In [22]:
def cleanup(list_strings):
    cleaned = []
    for r in list_strings:
        if r.strip():
            cleaned.append(r.strip())
    return " ".join(cleaned)

In [23]:
#print(cleanup(["I", "love", "lois"]))
print(cleanup(["cat", "er", "pillar"]) )
print(cleanup(["cat", " ", "er", "", "pillar"]))
print(cleanup(["", "", " "]))

cat er pillar
cat er pillar

# Ex12:

Define a nested_sum function that accepts a list of lists of numbers
The function should return the sum of the values
 The list may contain empty lists

 EXAMPLES
* nested_sum([[1, 2, 3], [4, 5]])            =&gt; 15
* nested_sum([[1, 2, 3], [], [], [4], [5]])  =&gt; 15
* nested_sum([[]])

In [24]:
def nested_sum(lists):
    total = 0
    for inner_list in lists:
        total += sum(inner_list)
    return total

In [25]:
print(nested_sum([[1, 2, 3], [4, 5], []]))
print(nested_sum([[1, 2, 3], [], [], [4], [5]]))
print(nested_sum([[], [], []]))

15
15
0

#Ex13:
Create a dictionary representing a person (include name, age, and city). Write a program to:

* Print the person's information.
* Update the person's age.
* Add a new key-value pair for the person's occupation.
* Display the updated dictionary.

In [26]:
person = {
    "name": "Olalekan",
    "age": 35,
    "city": "Mbour"
}

print("Personal information:")
print(f"Name: {person['name']}")
print(f"Age: {person['age']}")
print(f"City: {person['city']}")

Personal information:
Name: Olalekan
Age: 35
City: Mbour

In [27]:
person["age"] = 31

person["occupation"] = "Data Analyst"

print("\nUpdated personal information:")
for key, value in person.items():
    print(f"{key.capitalize()}: {value}")

Updated personal information:
Name: Olalekan
Age: 31
City: Mbour
Occupation: Data Analyst

# Ex14:

Many organizations have user ids which are constrained in some way. Imagine you work at an internet service provider and the user ids are all two letters followed by two numbers (e.g. aa49). Your task at such an organization might be to hold a record on the billing activity for each possible user.

Write an initialization line as a single list comprehension which creates a list of all possible user ids. Assume the letters are all lower case.

In [28]:
userIDs = [f"{r}{s}{x:02d}" for r in "abcdefghijklmnopqrstuvwxyz"
                                  for s in "abcdefghijklmnopqrstuvwxyz"
                                  for x in range(100)]

In [29]:
print(userIDs[:7])

['aa00', 'aa01', 'aa02', 'aa03', 'aa04', 'aa05', 'aa06']

# Ex15:
Ask the user to enter a password, then:

*   check if it contains uppercase letters, lowercase letters, numbers and special characters.
*   Give feedback to the user("Strong password!" or " The password should include a mix of uppercase letters, lowercase letters, numbers, and special characters." ).

In [30]:
import string

def password_strength(password):
    uppercase = any(c.isupper() for c in password)
    lowercase = any(c.islower() for c in password)
    numbers = any(c.isdigit() for c in password)
    special_character = any(c in string.punctuation for c in password)

    if uppercase and lowercase and numbers and special_character:
        return "Strong password!"
    else:
        return "The password should include a mix of uppercase letters, lowercase letters, numbers, and special characters."

feedback = password_strength("Ewaoluwa26.:")
print(feedback)

Strong password!

In [31]:
feedback1 = password_strength("olaluwoye9:")
print(feedback1)

The password should include a mix of uppercase letters, lowercase letters, numbers, and special characters.

# Ex16:

Declare a sum_of_evens_and_odds function that accepts a tuple of numbers.
#### It should return a tuple with two numeric values:
 - the sum of the even numbers
 - the sum of the odd numbers.
* sum_of_evens_and_odds((1, 2, 3, 4))   => (6, 4)
* sum_of_evens_and_odds((1, 3, 5))      => (0, 9)
* sum_of_evens_and_odds((2, 4, 6))      => (12, 0)

In [32]:
def sum_of_evens_and_odds(numbers):
    even_sum = 0
    odd_sum = 0
    for num in numbers:
        if num % 2 == 0:
            even_sum += num
        else:
            odd_sum += num
    return (even_sum, odd_sum)

In [33]:
print(sum_of_evens_and_odds((1, 2, 3, 4)))
print(sum_of_evens_and_odds((1, 3, 5)))
print(sum_of_evens_and_odds((2, 4, 6)))

(6, 4)
(0, 9)
(12, 0)

# Ex17:

Define a length_counts function that accepts a list of strings.
The function should return a dictionary where the keys represent
 length and the values represent how many strings have that length.

 EXAMPLE:
* sa_countries = ["Brazil", "Venezuela", "Argentina", "Ecuador", "Bolivia", "Peru"]
* length_counts(sa_countries) =&gt; # {6: 1, 9: 2, 7: 2, 4: 1}
* There is 1 string with 6 letters, 2 strings with 9 letters,
* 2 strings with 7 letters, and 1 string with 4 letters.

In [34]:
def length_counts(strings):
    counts = {}

    for word in strings:
        length = len(word)
        if length in counts:
            counts[length] += 1
        else:
            counts[length] = 1

    print(counts)

    result = {}
    for length, count in counts.items():
        result[f'{count} string(s) with {length} letter(s)'] = count

    print(result)


sa_countries = ["Brazil", "Venezuela", "Argentina", "Ecuador", "Bolivia", "Peru"]
length_counts(sa_countries)

{6: 1, 9: 2, 7: 2, 4: 1}
{'1 string(s) with 6 letter(s)': 1, '2 string(s) with 9 letter(s)': 2, '2 string(s) with 7 letter(s)': 2, '1 string(s) with 4 letter(s)': 1}

# Ex18:

Given two strings s and t, determine if they are isomorphic.

Two strings s and t are isomorphic if the characters in s can be replaced to get t.

All occurrences of a character must be replaced with another character while preserving the order of characters. No two characters may map to the same character, but a character may map to itself.

Input: s = "egg", t = "add" <br>
Output: true
<br><br>
Input: s = "foo", t = "bar" <br>
Output: false

In [35]:
def is_isomorphic(s, t):
    if len(s) != len(t):
        return False

    s_to_t = {}
    t_to_s = {}

    for char_s, char_t in zip(s, t):
        if char_s in s_to_t:
            if s_to_t[char_s] != char_t:
                return False
        else:
            s_to_t[char_s] = char_t

        if char_t in t_to_s:
            if t_to_s[char_t] != char_s:
                return False
        else:
            t_to_s[char_t] = char_s

    return True

In [36]:
print(is_isomorphic("egg", "add"))
print(is_isomorphic("foo", "bar"))
#print(is_isomorphic("paper", "title"))
#print(is_isomorphic("ab", "aa"))

True
False

# Ex19:

 Dot product of vectors: <br>

Vectors are mathematical objects that are often used to represent the inputs to neural networks. One way to view the vectors is as list of items. Complete the following code to compute dot product of two vectors. Dot product is defined the following equation:-
</font>

$$
x.y = <x, y> = x^Ty = \sum_{i}^n x_iy_i
$$

<font  color="white">
Assume that only lists are passed to the function and they also contain only numeric datatype.

</font>

In [37]:
def dot_product(x, y):
    if len(x) != len(y):
        raise ValueError("The vectors must be of the same length.")

    return sum(xi * yi for xi, yi in zip(x, y))
print(dot_product([1, 2, 3], [4, 5, 6]))
print(dot_product([0, -1, 2], [3, 1, -4]))

32
-9

# Ex20:

Write a function MatMul that multiplies two 2D matrices A and B and returns the result

Validate you code using:

```
A = [ [1,2,3],[4,5,6] ]
B = [ [4,5], [1,2], [0, 1] ]


```

In [38]:
def MatMul(A, B):
    if len(A[0]) != len(B):
        raise ValueError("Number of columns in A must equal number of rows in B.")

    output = []
    for i in range(len(A)):
        row = []
        for j in range(len(B[0])):
            val = sum(A[i][k] * B[k][j] for k in range(len(B)))
            row.append(val)
        output.append(row)
    return output


A = [ [1,2,3],[4,5,6] ]
B = [ [4,5], [1,2], [0, 1] ]
print(MatMul(A, B))
assert MatMul(A, B)==[[6, 12], [21, 36]], "Your implementation is not correct"
print("Thankss, It is good")

[[6, 12], [21, 36]]
Thankss, It is good

#Ex21:

<b> Given a list l, reverse l.
Ex= [1,2,3,4,5] ==> [5,4,3,2,1]. In this case the operation has to be done in-place. Do not allow new memory space</b>

DON't USE THE PYTHON INDEXING [::-1]

In [39]:
def list_r(l):
    left = 0
    right = len(l) - 1

    while left < right:

        l[left], l[right] = l[right], l[left]
        left += 1
        right -= 1

In [40]:
lst = [2, 4, 6, 8, 10]
list_r(lst)
print(lst)

[10, 8, 6, 4, 2]

In [41]:
lst1 = [1, 2, 3, 4, 5]
list_r(lst1)
print(lst1)

[5, 4, 3, 2, 1]

# Ex22:

<b> Given a string s, check whether s is a palindrome. s is the palindrome if s is equal to its reverse.Using:
- slicing in python
- loop.</b>

example : s='aba' is a palindrom
s='abaa' isnot a palindrom

In [42]:
def is_palindrome_slicing(s):
    return s == s[::-1]

s_1 = "madam"
s_2 = "hello"

print(f"'{s_1}' is a palindrome? →", is_palindrome_slicing(s_1))
print(f"'{s_2}' is a palindrome? →", is_palindrome_slicing(s_2))

'madam' is a palindrome? → True
'hello' is a palindrome? → False

In [43]:
def is_palindrome_loop(s):
    left = 0
    right = len(s) - 1
    while left < right:
        if s[left] != s[right]:
            return False
        left += 1
        right -= 1
    return True

s_1 = "madam"
s_2 = "hello"

print(f"'{s_1}' is a palindrome? →", is_palindrome_loop(s_1))
print(f"'{s_2}' is a palindrome? →", is_palindrome_loop(s_2))

'madam' is a palindrome? → True
'hello' is a palindrome? → False

# Ex23:

Find the factorial of a given number:

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

In [44]:
def factorial(number):
    if number < 0:
        return "Factorial is not defined for negative numbers."

    result = 1
    for i in range(1, number + 1):
        result *= i
    return result
number = 7
print(f"The factorial of {number} is: {factorial(number)}")

The factorial of 7 is: 5040

In [45]:
number = 5
print(f"The factorial of {number} is: {factorial(number)}")

The factorial of 5 is: 120

# Ex24:

Display Fibonacci series up to 10 terms:

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [46]:
def fibonacci(number):
    r, s = 0, 1

    print(r, end=" ")
    if number > 1:
        print(s, end=" ")

    for _ in range(2, number):
        r, s = s, r + s
        print(s, end=" ")

fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [47]:
def fibonacci(number):
    fib = [0, 1]

    for i in range(2, number):
        next_term = fib[-1] + fib[-2]
        fib.append(next_term)

    return fib

print(f"Fibonacci series up to {10} terms: {fibonacci(10)}")

Fibonacci series up to 10 terms: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# Ex25:

- Write a program to display all prime numbers within a range.

- range
start = 19
end = 70

In [48]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def display_primes(start=19, end=70):
    primes = [num for num in range(19, 70 + 1) if is_prime(num)]
    print(f"All prime numbers between {19} and {70}: {primes}")

display_primes(19, 70)

All prime numbers between 19 and 70: [19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]

#Ex26:
Write a program to copy the contents of one text file (input.txt) to another file (output.txt). Handle the case where file1 does not exist.

In [49]:
def file(input, output):
    try:
        with open(input, 'r') as infile:
            contents = infile.read()

        with open(output, 'w') as outfile:
            outfile.write(contents)

        print(f"Contents of {input} have been copied to {output}")

    except FileNotFoundError:
        print(f"Error: The file {input} does not exist.")

    except Exception as e:
        print(f"There is an error: {e}")

input = "input.txt"
output = "output.txt"

file(input, output)

Error: The file input.txt does not exist.